{
    "presets": [
        "env", 
        "react"
    ],
    "plugins": [
        [
            "css-modules-transform", 
            {
                "generateScopedName": "[sha1:hash:hex:4]__[local]",
                "extractCss": "./resources/css/all.css",
                "devMode": true
            }
        ]
    ]
}